shbs_venv
Lib
Scripts
pyvenv.cfg

*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sql
*.sqlite3
*.db
*.env
*.cover
*.mo
*.po
*.pid
*.swo
*.swp
*.webapp
.local/
.scrapy/
*.p12
*.pem
*.dmp
*.cert
*.csr
*.key
*.crt
*.pub